@import "fonts/stylesheet.css";

body{
 	color: #333;
 	margin: 0;
}
#recipiente{
	margin: 0 auto; 
	width: 810px;
	padding-top: 17px;
	background: -webkit-linear-gradient(#f6f1b2, #4599b2); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#f6f1b2, #4599b2); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#f6f1b2, #4599b2); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#f6f1b2, #4599b2); /* Standard syntax */
  	border-color: #d3d3d3;
	border-style: solid;
	border-width: 1px;

 }
#cabecalho h1{
	font-family: 'Ravie';
	font-size: 36px;
	color: #e90c0c;
	margin-top: 0;
	margin-bottom: 0px;
	text-align: right;
	margin-right: 110px;
}

#cabecalho h2{
	font-family: 'Trebuchet MS';
	font-size: 24px;
	text-align: right;
	margin-right: 110px;
	margin-top: 0;
	font-weight: lighter;
}
strong{
	color: #d027aa;
}

/*#conteudo{
	position: static;
}
*/
#cardapio{
	font-family:'Verdana';
	font-size: 14px;
	width: 625px;
	border-color: #aac0ae;
	border-style: solid;
	border-width: 1px;
	padding: 20px;
	padding-top: 10px;
	padding-bottom:60px;
	line-height: 25px;
	/*position: absolute;*/
	float: right;

}

#cardapio h2{
	font-size: 18px;
	font-style: bold;
}

.precos{
	float:right;
}

#lateral{
	position:absolute;
	left:0px;
	top:0px;
	/*padding-top: 7px;*/
	
	width: 154px;

}
#conteudo{
	position: relative;
}
#lateral h2{
 transform: rotateZ(270deg);
 position: absolute;
 width: 154px;
 font-family: 'Verdana';
 font-size: 48px;
 color: #333;
 left:0;
 text-align: center;
}

#siri{
	position: relative;
	top: -106px;
	left: -10px;
  
}

#ticket{
	position:fixed;
	top:50%;
	left:0%;
	width: 40px;
	opacity: 0;
	-webkit-transition: all 300ms ease;
 	-moz-transition: all 300ms ease;
 	-ms-transition: all 300ms ease;
 	-o-transition: all 300ms ease;
 	transition: all 300ms ease;

}

#ticket:hover {
    display: inline-block; 
    opacity: 1;
}

#rodape{

	clear:right;
	text-align: right;
	padding-top: 46px;
	padding-bottom: 25px;
	padding-right: 15px;

}

#rodape img{
		right: 15px;

}

#bolhas{
	position: relative;
	bottom: -164px;
	left:20px;
}

#peixe{
	position: relative;
	bottom: -208px;
	left:-44px;
}
